{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "Delete course" %}{% endblock %}
{% block content %}
    <h1>{% blocktranslate %}Delete course "{{ object.title }}"{% endblocktranslate %}</h1>
    <div class="module">
        <form action="" method="post">
            {% csrf_token %}
            <p>{% blocktranslate %}Are you sure you want to delete "{{ object }}"?{% endblocktranslate %}</p>
            <input type="submit" class="button" value="Confirm">
        </form>
    </div>
{% endblock %}
