{% extends "base.html" %}
{% load i18n %}
{% block title %}
    {% if subject %}
        {% blocktranslate %}
        {{ subject.title }} courses
        {% endblocktranslate %}
    {% else %}
        {% trans "All courses" %}
    {% endif %}
{% endblock %}
{% block content %}
    <h1>
        {% if subject %}
            {% blocktranslate %}
            {{ subject.title }} courses
            {% endblocktranslate %}
        {% else %}
            {% trans "All courses" %}
        {% endif %}
    </h1>
    <div class="contents">
        <h3>{% trans "Subjects" %}</h3>
        <ul id="modules">
            <li {% if not subject %}class="selected"{% endif %}>
                <a href="{% url "course_list" %}">{% trans "All" %}</a>
            </li>
            {% for s in subjects %}
                <li {% if subject == s %}class="selected"{% endif %}>
                    <a href="{% url "course_list_subject" s.slug %}">
                        {{ s.title }}
                        <br>
                        <span>
                            {% blocktranslate %}
                            {{ s.total_courses }} courses
                            {% endblocktranslate %}
                        </span>
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
    <div class="module">
        {% for course in courses %}
            {% with subject=course.subject %}
                <h3><a href="{% url "course_detail" course.slug %}">
                    {{ course.title }}</a></h3>
                <p>
                    <a href="{% url "course_list_subject" subject.slug %}">
                        {{ subject }}</a>.
                    {{ course.total_modules }} modules.
                    Instructor: {{ course.owner.get_full_name }}
                </p>
            {% endwith %}
        {% endfor %}
    </div>
{% endblock %}
